@media(max-width: 1919px){
	.work__inner::after{
		display: none;
	}

	.courses::after{
		display: none;
	}
}

@media(max-width: 1440.98px){
	body{
		font-size: 16px;
	}

	.container{
		max-width: none;
		padding: 0 20px;
	}

	.header{

		& > .container{
			padding: 0;
		}

		&__nav{
			height: 72px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 0 0 24px 24px;

			justify-content: space-between;
		}

		&__logo{
			margin-right: 55px;
		}

		&__menu{
			display: none;
		}

		&__burger{
			display: block;
			width: 24px;
			height: 24px;
			margin-left: 24px;
		}

		&__burger-img{
			width: 100%;
		}

		&__burger:focus{
			outline: none;
		}
	}

	.logo{
		width: 112px;
		height: 24px;
	}

	.menu{
		&__list:last-child{
			justify-self: auto;
		}
	}

	.social{
		column-gap: 12px;

		&__link.phone{
			display: inline-block;
		}

		&__link{
			width: 32px;
			height: 32px;
		}
	}

	.intro{
		background: none;
		background-color: $white;
		box-shadow: 0px 0px 16px 8px rgba(77, 92, 100, 0.10);
		font-size: 12px;
		margin-bottom: 60px;

		&::after{
			top: -20px;
			left: 50%;
			transform: translateX(-50%) rotate(-152.487deg);
			width: 299px;
			height: 616px;
		}

		&__inner{
			height: 1373px;
			grid-template-columns: 50% 50%;
			grid-template-rows: auto 799px;
			column-gap: 0;
		}

		&__content{
			max-width: 315px;
			height: 48px;
			align-self: auto;
			justify-self: center;
			margin-bottom: 0;
			margin-top: 112px;

			grid-column-start: span 2;
		}

		&__title{
			font-size: 44px;
		}

		&__label{
			padding: 2px 16px 4px 16px;
			font-size: 14px;
			transform: translateY(100%) rotate(-3deg);
		}

		&__stage{
			grid-row-start: auto;
		}

		&__stage-photo{
			border-radius: 16px;
		}

		&__stage-photo.item-1{
			width: 162px;
			height: 232px;
			top: 0;
			left: 12px;

			&::after{
				background: url('../images/intro-vector-mobile-1.svg') no-repeat;
				width: 53px;
				height: 20px;
				top: calc(100% - 8px);
				left: calc(100% + 7px);
				z-index: 1;
				transform: rotate(-114deg);
			}
		}

		&__stage-photo.item-3{
			top: 387px;
			left: 0;

			&::after{
				background: url('../images/intro-vector-mobile-3.svg') no-repeat;
				width: 165px;
				height: 36px;

				position: absolute;
				top: 211px;
				left: 154px;
				z-index: 1;
				transform: rotate(76deg);
			}
		}

		&__stage-cover{
			border-radius: 16px;
		}

		&__stage-img{
			border-radius: 16px;
		}

		&__wrap{
			width: 25px;
			height: 26px;
			top: 12px;
			right: 12px;
		}

		&__text-photo{
			bottom: 12px;
			left: 12px;
			max-width: 124px;
		}

		&__stage-bg.item-2{
			padding: 16px 20px 20px 16px;
			width: 156px;
			height: 78px;
			border-radius: 1px 12px 12px 12px;
			box-shadow: 0.7px 1.5px 6.2px 0px rgba(34, 34, 34, 0.04),
											0px 0px 3.1px 0px rgba(34, 34, 34, 0.08);
			top: 272px;
			left: 152px;

			& > .intro__wrap{
				right: 16px;
			}

			&::after{
				background: url('../images/intro-vector-mobile-2.svg') no-repeat;
				width: 78px;
				height: 21px;
				top: 58px;
				left: -77px;
				transform: rotate(123deg);
			}
		}

		&__stage-bg.item-4{
			top: calc(100% - 102px);
			right: calc(50% - 104px);

			&::after{
				display: none;
			}
		}

		&__card{
			padding: 32px 20px;
			max-width: none;
			height: 246px;
			margin-top: 40px;
			flex-direction: column;
			justify-content: space-between;
		}

		&__card-text{
			font-size: 16px;

			max-width: none;
			margin-right: 0;
		}
	}

	.courses{
		margin-bottom: 60px;

		&__circle{
			display: none;
		}

		&__inner{
			flex-direction: column;
		}

		&__title{
			font-size: 40px;
			line-height: 1.1;
			flex-grow: 0;
		}

		&__nav{
			order: 2;
		}

		&__slider{
			margin-top: 32px;
			margin-bottom: 32px;
		}

		&__item{
			height: 380px;
			padding: 20px 16px;
		}

		&__item-label{
			font-size: 14px;
			margin-bottom: 24px;
			padding: 2px 16px 4px 16px;
		}

		&__item-title{
			font-size: 24px;
		}

		&__item-text{
			font-size: 16px;
		}

		&__item-wrap{
			width: 295px;
			height: 130px;
			top: 166px;
		}
	}

	.work{
		margin-bottom: 80px;

		& > .container{
			padding: 0;
		}

		&__inner{
			padding: 60px 20px;
		}

		&__intro{
			flex-direction: column;
		}

		&__content,
		&__photo{
			flex: 0 0 100%;
			max-width: 100%;
		}

		&__content{
			padding: 0;
			text-align: center;
		}

		&__content-title{
			font-size: 40px;
			line-height: 1.1;
		}

		&__content-text{
			max-width: 100%;
			margin-top: 16px;
			margin-bottom: 32px;
		}

		&__content-btn{
			width: 50%;
			margin-bottom: 40px;
		}

		&__photo{
			padding-left: 0;
		}

		&__photo-wrap{
			max-width: 100%;
		}

		&__advantages{
			margin: 40px auto;
			max-width: 100%;
			padding: 32px 16px;

			flex-direction: column;
			column-gap: 0;
			row-gap: 24px;
		}

		&__advantages-title{
			font-size: 24px;
			margin-bottom: 8px;
		}

		&__eltex{
			grid-template-columns: 100%;
			grid-template-rows: auto 320px auto;
			column-gap: 0;
			row-gap: 24px;
		}

		&__eltex-title{
			grid-column-start: auto;
			font-size: 28px;
		}

		&__eltex-wrap{
			&.wrap-center{
				width: 194px;
				height: 188px;
				border-radius: 40px;
				box-shadow: 0 0 45px -25px $white;

				top: 78px;
				left: 79px;
			}

			&.wrap-1{
				width: 98px;
				height: 98px;
				border-radius: 24px;

				top: 0;
				left: 17px;
			}

			&.wrap-2{
				width: 36px;
				height: 36px;
				border-radius: 8px;

				top: 26px;
				left: 153px;
			}

			&.wrap-3{
				width: 59px;
				height: 59px;
				border-radius: 12px;

				top: 45px;
				left: 248px;
			}

			&.wrap-4{
				width: 45px;
				height: 45px;
				border-radius: 24px;

				top: 178px;
				left: 290px;
			}

			&.wrap-5{
				width: 67px;
				height: 67px;
				border-radius: 16px;

				top: 252px;
				left: 235px;
			}

			&.wrap-6{
				width: 91px;
				height: 91px;
				border-radius: 16px;

				top: 229px;
				left: 34px;
			}

			&.wrap-7{
				width: 51px;
				height: 51px;
				border-radius: 16px;

				top: 140px;
				left: 0;
			}
		}

		&__eltex-content{
			padding-right: 0;
		}

		&__eltex-item{
			margin-bottom: 24px;
		}

		&__eltex-subtitle{
			font-size: 24px;
		}
	}

	.footer{
		& > .container{
			padding: 0;
		}

		&__inner{
			padding: 60px 46px;
		}

		&__logo{
			margin-bottom: 40px;
		}

		&__nav{
			flex-direction: column;
		}

		&__menu{
			grid-template-columns: auto;
			column-gap: 0;
			row-gap: 23px;
			grid-template-rows: auto auto auto;
			padding-right: 0;
			justify-items: center;
			width: 100%;
		}

		&__copyright{
			flex-direction: column;
			font-size: 16px;
		}

		&__social{
			margin-top: 16px;
			margin-bottom: 16px;
		}
	}
}

@media(max-width: 999.98px){
	.courses{
		&__slider{
			grid-template-columns: repeat(2, 50%);
			grid-auto-columns: 50%;
		}
	}
}

@media(max-width: 665.98px){
	.intro{
		&::after{
			top: -20px;
			left: 5.3333%;
			width: 299px;
			height: 616px;

			transform: translateX(0) rotate(-152.487deg);
		}

		&__inner{
			grid-template-columns: 100%;
			grid-template-rows: auto 799px auto;
		}

		&__content{
			grid-column-start: auto;
		}

		&__stage-bg.item-4{
			top: calc(100% - 86px);
			right: 0;
		}
	}

	.courses{
		&__slider{
			grid-template-columns: 100%;
			grid-auto-columns: 100%;
		}
	}

	.work{
		&__content{
			padding: 0;
		}

		&__content-btn{
			width: 100%;
		}
	}
}